# ======================================================
#   🤖 PENGATURAN TELEGRAM BOT CONTROLLER
# ======================================================
TELEGRAM_BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrsTUVwxyz
TELEGRAM_ADMIN_ID=

# ======================================================
#   🗄️ PENGATURAN DATABASE MYSQL (PRISMA ORM)
# ======================================================
DATABASE_URL="mysql://root:@localhost:3306/facebook_bot"

